.course-type{
    padding-top: 40px;
    padding-bottom: 24px;
    @include desktop{
        padding-bottom: 48px;
    }
}

.course-type-list{
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    margin: 0 auto;
}

.course-type-btn{
    color: $white;
    border: 1px solid $white;
    &.active,&:hover{
        color: $primary;
        border: 1px solid $primary;
    }
}