.course-type-list{
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    margin: 0 auto;
}

.course-introduce-btn{
    color: $white;
    &:hover{
        background-color: $white;
        color: $black;
    }
}