.banner{
  background-image: url('../images/bg_home_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 336px;
  @include desktop{
    background-image: url('../images/bg_home.jpg');
    height: 680px;
  }
}

.banner-text-wrapper{
  @include desktop{
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 640px;
    margin: 0 auto;
  }
}

.introduce-title{
  h2{
    text-align: center;
  }
  @include desktop{
    padding-left: 0;
    &::after{
      margin-left: 0;
    }
    h2{
      text-align: left;
    }
  }
}

.introduce-item{
  @include desktop{
    border: 1px solid $tertiary-1;
    margin: -1px;
    opacity:0.1;
    &:hover{
      border: 1px solid $primary;
      background-color: $tertiary-2;
      opacity: 1;
      .material-icons{
        color: transparent;
      }
    }
  }
  .material-icons{
    font-size: 50px;
    @include desktop{
      color:#fff;
    }
  }
}

.procedure-item-num{
  font-family: "Azeret Mono", sans-serif;
  position: absolute;
  width: 78px;
  top:-28px;
  left:40px;
}

.program-languages-title{
  max-width: 316px;
  margin: 0 auto;
  @include desktop{
    max-width: 100%;
  }
}

.program-languages-list{
  overflow-x: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  li{
    display: inline-block;
    border-radius: 8px;
    @include desktop{
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

.feature-item{
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  &:nth-child(1){
    background-image: url('../images/info01.jpg');
  }
  &:nth-child(2){
    background-image: url('../images/info02.jpg');
  }
  &:nth-child(3){
    background-image: url('../images/info03.jpg');
  }
  &:nth-child(4){
    background-image: url('../images/info04.jpg');
  }
  .material-icons{
    font-size: 32px;
    line-height: 1;
    color: $primary;
  }
  @include desktop{
    height: 615px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: left;
    &:hover{
      background-color: rgba(0, 0, 0, 0.7);;
      .material-icons{
        color: $primary;
        opacity: 1;
      }
      .title-border{
        &::after{
          border: 3px solid $primary;
        }
      }
    }
    .title-border{
      &::after{
        margin-left: 0;
        border: 3px solid white;
      }
    }
    .material-icons{
      color: white;
      opacity: 0.2;
    }
  }
}

.article-share-item{
  @include desktop{
    position: relative;
    &:hover{
      .border-part{
        position: absolute;
        width: 32px;
        height: 32px;
        &:nth-child(1){
          top: 0;
          left: 0;
          border-top: 1px solid $primary;
          border-left: 1px solid $primary;
          border-top-left-radius: 16px;
        }
        &:nth-child(2){
          top: 0;
          right: 0;
          border-top: 1px solid $primary;
          border-right: 1px solid $primary;
          border-top-right-radius: 16px;
        }
        &:nth-child(3){
          bottom: 0;
          left: 0;
          border-bottom: 1px solid $primary;
          border-left: 1px solid $primary;
          border-bottom-left-radius: 16px;
        }
        &:nth-child(4){
          bottom: 0;
          right: 0;
          border-bottom: 1px solid $primary;
          border-right: 1px solid $primary;
          border-bottom-right-radius: 16px;
        }
      }
    }
  }
  
}

.more-btn{
  font-family: "Azeret Mono", sans-serif;
  @include desktop{
    font-size: 18px;
    line-height: 21px;
  }
}

.article-image{
  @include desktop{
    height: 180px;
  }
}

.comment{
  @include desktop{
    background-image: url('../images/bg_share.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.comment-item{
  position: relative;
  @include desktop {
    max-width: 925px;
    margin: 0 auto;
  }
}

.comment-image{
  transform-style: preserve-3d;
  margin-bottom: 263px;
  @include desktop{
    max-width: 525px;
    margin-bottom: 24px;
  }
  &::before{
    content:'';
    position: absolute;
    display: block;
    top:5px;
    right:5px;
    border: 1px solid #7C7E77;
    border-radius: 24px;
    width: 98%;
    height: 248px;
    transform: translateZ(-5px);
    @include desktop{
      height: 375px;
    }
  }
  img{
    width: 98%;
  }
}

.comment-info-wrapper{
  position: absolute;
  border-radius: 24px 24px 24px 0;
  bottom: 60px;
  @include desktop{
    max-width: 416px;
    bottom: 0px;
    right: 0px
  }
}

.comment-info-pic{
  position: relative;
  width: 80px;
  @include desktop {
    width: 100px;
  }
  img{
    position: absolute;
    border-radius: 48px;
    top:-40px;
    right: 24px;
    @include desktop{
      top: -50px;
      right: 32px;
    }
  }
}

.comment-info-text{
  padding: 24px;
}

.comment-text{
  text-align: justify;
}

.pagination-item{
  @include desktop{
    max-width: 525px;
  }
}

.swiper-pagination.swiper-pagination-bullets{
  position:inherit;
  width:auto;
}

.swiper-pagination-bullet{
  background:$primary;
  &-active{
    background:$primary;
    width: 16px;
    border-radius: 4px;
    opacity: 1;
  }
}

.pagination-arrow-prev, .pagination-arrow-next{
  font-size: 24px;
  line-height: 16px;
  cursor:pointer;
}

.join-us{
  border-top:1px solid $tertiary-1;
  @include desktop{
    border-top:none;
  }
}

.join-us-wrapper{
  .material-icons{
    font-size: 96px;
    opacity: 0.2;
  }
  @include desktop{
    max-width: 966px;
    margin: 0 auto;
    .material-icons{
      opacity: 0.5;
    }
  }
}

.reserve-btn{
  border-radius: 4px;
  cursor:pointer;
}