<div class="modal" id="login-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content pt-3 pb-6 px-4">
        <div class="modal-content-wrapper">
          <div class="modal-header justify-content-end">
          <span class="material-icons text-24 lh-1 text-white" data-bs-dismiss="modal" aria-label="Close">close</span>
          </div>
          <div class="modal-body mb-4">
            <h5 class="text-24 text-white text-center fw-bold">登入</h5>
            <form action="" class="mb-3">
              <ul>
                <li>
                  <div class="mb-3">
                    <label for="login-account" class="form-label order-page text-tertiary-4">Email</label>
                    <input type="email" class="form-control text-tertiary-4 bg-transparent" name="" id="login-account" placeholder="請輸入信箱">
                  </div>
                </li>
                <li>
                  <div>
                    <label for="login-password" class="form-label order-page text-tertiary-4">密碼</label>
                    <input type="password" class="form-control text-tertiary-4 bg-transparent" name="" id="login-password" placeholder="請輸入密碼">
                  </div>
                </li>
              </ul>
            </form>
            <a href="#" class="btn gradient-btn modal-login-btn rounded8 text-white text-18 py-2 mw-lg-100">登入</a>
          </div>
          <div class="modal-footer pt-0 justify-content-center">
            <span class="bg-tertiary-1 text-tertiary-4 px-3 mb-3">其他登入方式</span>
            <a href="#" class="other-login-btn d-flex justify-content-center justify-content-lg-between border border-white rounded px-lg-5 py-2 mb-3 mb-lg-4">
              <img src="./assets/images/icon_fb.svg" alt="" class="login-btn-logo me-5 me-lg-auto">
              <span class="fb-login-text">Facebook 登入</span>
            </a>
            <a href="#" class="other-login-btn d-flex justify-content-center justify-content-lg-between border border-white rounded px-lg-5 py-2">
              <img src="./assets/images/icon_google.svg" alt="" class="login-btn-logo me-5 me-lg-auto">
              <span class="google-login-text">Google 登入</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>