.square-decoration{
    position: relative;
    .square{
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background-color: #fff;
      &:nth-child(1){
        top:-5px;
        left: -5px;
      }
      &:nth-child(2){
        bottom: -5px;
        left: -5px;
      }
      &:nth-child(3){
        top: -5px;
        right: -5px;
      }
      &:nth-child(4){
        bottom: -5px;
        right: -5px;
      }
    }
  }