.type-btn{
    display: block;
    white-space: nowrap;
    border-radius: 8px;
    color: $white;
    border: 1px solid $white;
    &.active,&:hover{
        color: $primary;
        border: 1px solid $primary;
    }
}